@model SchoolRegisterSystem.ViewModel.VMs.GradeReportVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GradeReportVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        
        <dd>
            <table class="table table-active">
                <thead>
                    <tr>
                    <th>Subject</th>
                    <th>Grade</th>
                </tr>
                </thead>
                @foreach (var item in Model.StudentGradesPerSubject)
                {


                    @foreach (var items in @item.Value)
                    {
                        <tr>
                        <td>@item.Key</td>
                        <td>@items</td>
                            </tr>
                    }

                }
            </table>
            
        </dd>
</div>
<div>
    @if (User.IsInRole("Student,Parent"))
    {

        <a asp-controller="Home" asp-action="Index">Back to List</a>
    }
  
    <a asp-controller="Student" asp-action="Index">Back to List</a>
    
</div>
